@model Event;

@{
    ViewData["Title"] = "Event Details";
}

<div class="d-flex align-items-center mb-2">
    <h4 class="me-auto mb-0">Event Details</h4>
    <a class="btn btn-outline-primary btn-sm m-1" role="button" asp-controller="Event" asp-action="Index">Back</a>
    <a class="btn btn-warning btn-sm m-1" role="button" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger btn-sm m-1" role="button" data-bs-toggle="modal" data-bs-target="#confirmDelete">Delete</a>
</div>

<div class="card mb-2">
    <div class="card-body">
        <div class="row mb-3 g-2 align-items-center">
            <div class="col-sm-2">
                <span>Description:</span>
            </div>
            <div class="col-sm-3">
                <span>@Model.Description</span>
            </div>
        </div>
        <div class="row mb-3 g-2 align-items-center">
            <div class="col-sm-2">
                <span>Event Start:</span>
            </div>
            <div class="col-sm-3">
                <span>@Model.StartDateTime.ToString("dd/MM/yyyy HH:mm")</span>
            </div>
        </div>
        <div class="row mb-3 g-2 align-items-center">
            <div class="col-sm-2">
                <span>Event Finish:</span>
            </div>
            <div class="col-sm-3">
                <span>@Model.EndDateTime.ToString("dd/MM/yyyy HH:mm")</span>
            </div>
        </div>
        <div class="row mb-3 g-2 align-items-center">
            <div class="col-sm-2">
                <span>Maximum Capacity:</span>
            </div>
            <div class="col-sm-3">
                <span>@Model.MaximumCapacity</span>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center mb-2">
    <h4 class="me-auto mb-0">Employees Attending</h4>
</div>

<div class="card p-3">
    <div class="w-25 d-flex flex-row align-items-center" >
        <input type="hidden" required name="EventId" value="@Model.Id" />
        <input type="hidden" required id="EmployeeId" name="EmployeeId" />

        <select id="employeeSearch" class="form-select searchable-select"
                data-search-url="/EmployeeEvent/GetValidEmployeeOptionsForEvent"
                data-extra-params='{"eventId": "@Model.Id"}'
                data-target-input="EmployeeId"
                data-required-char-count="2"
                data-placeholder="Add employee...">
        </select>
        <button id="createEmployeeEventBtn" class="btn btn-primary btn-sm m-1" onclick="createEmployeeEvent()" @(Model.AtCapacity ? "disabled" : "") >Add</button>
    </div>
    <table class="table table-striped table-hover mt-2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Favourite Drink</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="employeeEventList">
            @foreach (var employeeEvent in Model.Employees)
            {
                <tr id="employeeEvent-@employeeEvent.Id">
                    <td>@employeeEvent.EmployeeFirstName @employeeEvent.EmployeeLastName</td>
                    <td>@(string.IsNullOrEmpty(employeeEvent.EmployeeFavouriteDrink) ? "Not Specified" : employeeEvent.EmployeeFavouriteDrink)</td>
                    <td class="text-end">
                        <button class="btn btn-danger btn-sm deleteEmployeeBtn" data-id="@employeeEvent.Id">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmDeleteLabel">Delete Event?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this event?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a class="btn btn-danger" role="button" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id">Yes</a>
            </div>
        </div>
    </div>
</div>